@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
    --fw-600: 600;
    --radius-8: 8px;
    --transition: 0.25s ease;
    --keppei: hsl(173, 60%, 47%);
  }

body{
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
}

.main-bar{
    background-color: #22272b !important;
    display: flow-root;
    padding: 0 10%;
}

#check{
    display: none;
}
.logo-header{
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #efbb20;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 180px;
    height: 68px;
    position: relative;
    z-index: 9;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.logo-header:before{
content: "";
position: absolute;
bottom: 0;
height: 100%;
z-index: -1;
right: -50px;
width: 80%;
transform: skew(30deg);
background-color: #ffe10a;
}

.logo-header:after{
content: "";
position: absolute;
bottom: 0;
height: 100%;
z-index: -1;
right: 10%;
width: 2000px;
background-color: #ffe10a;
}

.logo-header a{
    color: #22272b;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
}

ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    border-radius: 14px;
}
nav li.active a{
    color: #020101;
    background-color: #fddb0d;
    border-radius: 14px;
}

nav li a{
    padding: 15px 25px;
    border: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 14px;
}

nav li:hover a{
    color: #020101;
    background-color: #fddb0d;
    border-radius: 14px;
}

@media(max-width:1250px){
    .main-bar{
        padding: 0.2%;
    }
    nav li a{
        padding: 15px 20px;
    }
}

.checkbtn{
    float: right;
    width: 20px;
    height: 18px;
    position: relative;
    transform: rotate(0);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    top: 25px;
    display: none;
}

.checkbtn span{
    background-color: #fff;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: 0.25s ease-in-out;
}

.checkbtn span:nth-child(1){
    top: 0;
}

.checkbtn span:nth-child(2){
    top: 7px;
}

.checkbtn span:nth-child(3){
    top: 14px;
}

@media(max-width: 992px){
    .main-bar{
        padding: 0 10%;
    }
    .checkbtn{
        display: block;
        margin-right: 40px;
    }

    nav ul{
        position: fixed;
        width: 350px;
        height: 100vh;
        background: #22272b;
        top: 68px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media(max-width:560px){
 nav ul{
    display: block;
    width: 100%;
 }
}

/* End Of Navbar */

/* ==================================================== */

/* Start Big Picture */

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  
  .content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .content__container h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    color: var(--primary-color-dark);
    margin-bottom: 1rem;
  }
  
  .heading__1 {
    font-weight: 700;
  }
  
  .heading__2 {
    font-weight: 700;
    color: var(--primary-color);
  }
  
  .content__container p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 2rem;
  }
  
  .content__container form {
    display: flex;
    align-items: center;
  }
  
  .content__container input {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .content__container button {
    width: fit-content;
    padding: 1rem;
    font-size: 0.8rem;
    white-space: nowrap;
    background-color: var(--primary-color);
    color: var(--white);
    outline: none;
    border: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .content__container button:hover {
    background-color: var(--primary-color-dark);
  }
  
  .image__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-content: center;
  }
  
  .image__container img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
  }
  
  .image__container img:nth-child(1) {
    transform: translateY(70px);
  }
  
  .image__container img:nth-child(2) {
    transform: translateY(-70px);
  }
  
  .image__content {
    position: absolute;
    width: 100%;
    max-width: 310px;
    left: 50%;
    top: 50%;
    transform: translate(-35%, 50%);
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--primary-color-dark)
    );
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  
  .image__content li {
    margin-bottom: 0.5rem;
  }
  
  @media (width < 900px) {
    .link a:not(.nav__btn) {
      display: none;
    }
  
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .content__container {
      text-align: center;
    }
  
    .content__container form {
      margin-right: auto;
      margin-left: auto;
    }
  
    .image__container {
      grid-area: 1/1/2/2;
    }
  
    .image__container img {
      transform: translateY(0) !important;
    }
  }

  /* End Big Picture */

  /* Start Feature Section */

  #features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    background: white;
  }
  
  #features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
  }
  
  #features .fea-box {
    background-color: #f9f9ff;
    padding: 1.5rem;
    text-align: start;
  }
  
  #features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
  }
  
  #features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
  }
  
  #features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
  }