@model Bio
<header class="sticky">
    <a href="#" class="logo">Innab</a>
    <div class="navigation">
        <ul class="menu">
            <div class="close-btn"></div>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="menu-item">
                <a class="sub-btn" href="about.html">Haqqımızda</a>
            </li>
            <li class="menu-item">
                <a class="sub-btn" href="korporativ.html">Korporativ</a>
            </li>
            <li class="menu-item"><a href="telimler.html">Təlimlər</a></li>
            <li class="menu-item"><a href="blog.html">Bloq</a></li>
            <li class="menu-item"><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="menu-btn"></div>
</header>
