@model Blog
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Home -->
<div id="blog-container">
    <div class="blogs blogpost">
        <div class="post">
            <img src="~/images/b1.jpg" alt="" />
            <h3>Learn Web Development In The Easiest Way</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sequi
                dolorem quam vero doloremque veritatis dolore culpa quaerat at aut,
                reprehenderit nisi aliquam velit soluta maiores, magni earum
                voluptas non?
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
                <br /><br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum minima
                cumque in ratione quidem nemo voluptate culpa eos hic expedita
                maiores aspernatur corrupti, quae beatae deserunt numquam
                repellendus iste quia non distinctio quo? Facilis animi doloribus
                excepturi inventore velit. Itaque cumque laboriosam deleniti iusto
                dolore vitae reprehenderit ipsam vel, aliquam omnis pariatur
                assumenda voluptatem consequatur quo est facere expedita magnam
                aliquid eius voluptas sapiente. Ex facilis, nam quisquam accusamus
                enim architecto repellat explicabo officia! Deserunt ab, autem
                ratione ad ut magni enim optio officiis mollitia doloribus neque
                impedit reiciendis possimus!
            </p>
            <a href="#">Read Next ?</a>
        </div>
    </div>
</div>

