@model BlogDetails
@{
    ViewData["Title"] = "Detail";
}

<section id="course-inner">
    <div class="overview">
        <img class="course-img" src="img/b1.jpg" alt="" />
        <div class="course-head">
            <div class="c-name">
                <h2>SQL ilə Data Analitika Kursları</h2>
                <p>
                    SQL ilə data analitikası kursunda iştirak etməklə siz müasir dövr ən çox tələb olunan bir ixtisasına sahib ola bilərsiniz.
                </p>
            </div>
            <span>06/06/2015</span>
        </div>
        <hr />
        <h3>SQL nədir?</h3>
        <p>
            Böyük həcmli məlumatlar ilə işləmək üçün alternativlərdən biri SQL sorğu dilidir. SQL sorğu dilinin istifadə edilməsi üçün məlumatlar hansısa bir bazaya daxil edilməlidir. Hamı tərəfindən istifadə olunabiləcək baza funksiyasını MS Access icra edə bilər. Access Microsoft Office proqram paketinin tərkibində olan məlumat bazası funsiyası daşıyır. Məlumatları Acces-ə daxil edərək SQL vasitəsilə lazımi hesablamaların aparılması və müxtəlif hesabatların hazırlanması mümkündür. SQL-in (structured query language) tərkibində olan əmrlər vasitəsilə bazada olan məlumatları çağırmaq, filter etmək, yenisini əlavə etmək, dəyişmək, silmək mümkündür.
            <br /><br />
            Məlumatlar access-də toplandıqdan sonra onları emal etmək üçün həm access-in tərkibində quraşdırılmış funksiyalardan istifadə etmək həm də SQL sorğu dilindən faydalanmaq olar. SQL sorğu dili həm accessin tərkibində quraşdırılmışdır həm də Oracle şirkəti tərəfindən təqdim olunan SQL Developer vasitəsilə istifadə oluna bilər.
            Excel fayllarında olan böyük həcmli eyni struktura malik məlumatları accessdə bir cədvəldə birləşdirmək mümkündür. Məlumat eyni struktura malik olmasa da, ayrı-ayrı cədvəllər şəklində də bir bazaya toplamaq olar. Accessə məlumat aşağıdakı kimi daxil edilir:
        </p>
        <hr />
        <h3>SQL – Məlumatların funksiyası</h3>
        <p>
            Daxil edilən məlumatlar baza funksiyası daşıyacaq. Bazada olan məlumatlar ilə işləmək üçün isə accessin funksiyası olan query-lərdən istifadə olunacaq. Query design bölməsini seçərək bizə lazım olan cədvəli seçə bilərik. Daha sonra aktiv olan pəncərədə lazımi sütunları əlavə edərək və daxili funksiyalar vasitəsilə əlavə hesablama sütunları yaradaraq yekun hesabat hazırlamaq mümkündür.
        </p>
        <br />
        <p>
            Bunun alternativi olan isə query design bölməsinə keçərkən açılan pəncərədən imtina edərək SQL view bölməsini aktivləşdirməkdir. Bu zaman artıq bütün bazaya SQL sorğuları vasitəsilə birbaşa müraciət etmək mümkündür.
        </p>
        <br /><br />
        <p>
            SQL ilə accessdə olan məlumatlarla işləmək üçün SQL developerdən də istifadə etmək olar. SQL developer bu linkdən yükləndikdən sonra həmin qovluqdan sqldeveloper faylı açılır. Açılan faylda connection bölməsi aktiv deyilsə viewdan həmin bölmə aktivləşdirilir. Daha sonra new connection seçilərək bu connectiona ad verilir, access bölməsi seçilərək browse edərək baza funksiyası daşıyacaq access fayl seçilir. Yekunda connect düyməsi seçilir və connection bölməsində verilmiş ad görsənir. Bu o deməkdir ki, artıq bazaya qoşulmuşuq.
        </p>
        <p>
            Buradaykən, Sizdən kiçik bir xahişimiz var. Bildiyiniz kimi, biz – “INNAB” komandası olaraq ana dilində peşəkar inkişafı təmin etmək məqsədi ilə məzmun (kontent) yaratmaqla da məşğuluq. İşinə məsuliyyətlə və həvəslə yanaşan komandamız bu işi təmənnasız şəkildə yerinə yetirir. Komandamız məzmunlarımızın daha çox insanların izləməsini görüb daha da motivasiya olur. Bu işdə sizin də dəstəyinizə ehtiyacımız var. Bu postu paylaşmaqla, həmçinin hər baxıb bəyəndiyiniz videoları, məqalələri daha çox insana tövsiyyə etməklə, youtube kanalımıza, bloqumuza, facebook/linkedin/instagram səhifəmizə abunə olmaqla həm bizi motivə edə, həm də peşəkar inkişafınız üçün zəmin yarada bilərsiniz.
        </p>
        <hr />
        <h3>Nə öyrənəcəksiniz</h3>
        <div class="learn">
            <p>
                <i class="fa-regular fa-check-circle"></i> İstifadə olunan cədvəllər
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i>  Select əmri – məlumatın oxunması
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Update əmri – məlumatın yenilənməsi
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Delete əmri – məlumatı silmək
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Insert əmri – məlumat əlavə etmək
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Sum, average, count funksiyaları
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i>  In və not in şərtləri
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Join (1-ci hissə)
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Join (2-ci hissə)
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i> Like funksiyası vasitəsilə məlumatın axtarışı
            </p>
            <p>
                <i class="fa-regular fa-check-circle"></i>  Group by – məlumatın ümumiləşdirilməsi
            </p>
        </div>
    </div>

    <div class="enroll">
        <h3>This course includes</h3>
        <p><i class="fa-solid fa-video"></i>20 saatlıq dərs</p>
        <p><i class="fa-regular fa-newspaper"></i>12 mövzu</p>
        <p><i class="fa-solid fa-cloud-download"></i>Material Resurslar</p>
        <p><i class="fa-solid fa-infinity"></i>Aktiv sorğu</p>
        <p><i class="fa-solid fa-paperclip"></i>Ev tapşırıqları</p>
        <p><i class="fa-solid fa-trophy"></i>Kurs sonunda rəsmi sertifikat</p>
    </div>
</section>

